.add-menu-web-form {
    text-align: center;
    .ant-form-item {
        margin-top: 5px;
        margin-bottom: 5px;

        svg {
            color:rgba(0,0,0, .25);
        }
    }
    button {
        &.btn-submit {
            margin-top: 10px;
            width: 100%!important;
        }
    }
}